<h1 class="productName"><%= @product.name %></h1>
<a href="#" class="js-next-product" data-id="<%=@product.id%>">Next Product</a>
<div class="productPrice"><%= @product.price %></div>
<p class="productDescription"><%= @product.description %></p>
<div class="productInventory"><%= @product.inventory %></div>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-next-product").on("click", function() {
    var nextId = parseInt($(".js-next-product").attr("data-id")) + 1;
    $.getJSON("/products/" + nextId + "/data", function(data) {
      $(".productName").text(data["name"]);
      $(".productPrice").text(data["price"]);
      $(".productDescription").text(data["description"]);
      $(".productInventory").text(data["inventory"]);
      $(".js-next-product").attr("data-id", data["id"]);
    });
  });
});
</script>
